@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');

:root {
    --ff-poppins: 'Poppins', sans-serif;
    --ff-roboto: 'Roboto', sans-serif;
    --header-height: 3.5rem;
    --font-alt: 'Open Sans', sans-serif;
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(38, 69%, 59%);
    --text-color: hsl(38, 8%, 8%);
    --color-golden: #DCCA87;
    --color-black: #0C0C0C;
    --color-gray: #545454;
    --color-crimson: #F5EFDB;
    --color-grey: #AAAAAA;
    --color-white: #FFFFFF;
    --color-font: #215374;
    --color-div: #1E306E;

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: 'Space Grotesk', sans-serif;
    --biggest-font-size: 2.375rem;
    --normal-font-size: .938rem;
    --smaller-font-size: .75rem;
}


/* Responsive typography */
@media screen and (min-width: 1024px) {
    :root {
        --biggest-font-size: 5rem;
        --normal-font-size: 1rem;
        --smaller-font-size: .813rem;
    }
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: 500;
    color: var(--text-color);
}

/* .header {
    overflow: hidden;    
  } */
.top-nav {
    display: flex;
    justify-content: end;
    padding-right: 10px;
    background-color: var(--color-font);
}

.top-nav ul {
    display: flex;
    list-style-type: none;
    margin: 0%;
    color: #fff;
    padding: 5px 20px;
}

.top-nav ul li a {
    text-decoration: none;
    color: #fff;
    float: right;
}

.top-nav ul li {
    list-style-type: none;
    padding-right: 20px;
    float: right;
}

.navbar {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 2fr;
    padding: 20px 20px;
}

.navbar img {
    width: 150px;
}

.brand {
    justify-self: center;
    align-self: center;
    color: aliceblue;
    font-size: x-large;
}

.nav-btn {
    justify-self: center;
    align-self: center;
    justify-content: space-between;
}

.nav-btn button {
    background-color: transparent;
    color: #f85959;
    border: 1px solid #f85959;
    border-radius: 3px;
    padding: 10px 10px;
    margin-left: 5px;
    font-size: medium;
    font-weight: 500;
}

.nav-btn button:enabled:hover {
    background-color: transparent;
    border: 1px solid #f85959;
    color: #f85959;
}

.nav-btn button:enabled {
    background-color: #f85959;
    color: white;
}

.nav-btn button:disabled:hover {
    background-color: #f85959;
    color: white;
}


.navs {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--ff-poppins);
}

.navs ul {
    margin: 0 auto;
    display: flex;
    list-style-type: none;
}

.navs ul li a {
    list-style-type: none;
    padding: 10px 25px;
    letter-spacing: 1px;
    color: white;
    text-decoration: none;
}

.navs ul li {
    font-size: medium;
}

.navs ul li a:hover {
    color: #f85959;
}

.add-listing-btn {
    border-radius: 50px;
    border: 1px solid white;
}

.add-listing-btn:hover {
    border-radius: 50px;
    background-color: #f85959;
    color: white !important;
    border-color: transparent;
}

.user-profile {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    overflow: visible;
    border-radius: 50%;
    border: 1px solid white;
}

.user-profile img {
    max-width: 100%;
    height: auto;
}

.app-user-profile {
    height: 3rem;
    width: auto;
    cursor: pointer;
}

@media screen and (max-width: 640px) {
    .nav-btn .sign-in {
        font-size: 14px;
        color: white;
        width: auto;
        padding: 5px 5px;
    }

    .navbar img {
        width: 100px;
    }

    .hero-title h1 {
        padding: 15px 0px 10px 10px;
        font-size: 40px;
    }
}

@media screen and (max-width: 640px) {
    .navs ul li a {
        color: white;
        font-size: 14px;
        width: auto;
        font-weight: 500;
    }
}

/* New navbar style */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: 500;
    color: var(--text-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.p__opensans {
    font-family: var(--font-alt);
    color: var(--color-white);
    font-weight: 400;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    line-height: 28px;
    font-size: var(--normal-font-size);
}

/*=============== REUSABLE CSS CLASSES ===============*/
.app__navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1E306E;
    padding: 1rem 2rem;
}

.app__navbar-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.app__navbar-logo span {
    font-family: var(--font-alt);
    color: var(--color-white);
    font-weight: 700;
    letter-spacing: .20rem;
    line-height: 28px;
}

.app__navbar-links {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    list-style: none;
}

.app__navbar-links li {
    margin: 0 1rem;
    cursor: pointer;
}

.app__navbar-links li:hover {
    color: var(--color-grey);
}

.app__navbar-login {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.app-user-profile {
    height: 2rem;
    width: auto;
    border-radius: 50%;
    cursor: pointer;
}

.app__navbar ul li ul {
    flex-direction: column;
    position: absolute;
    background-color: white;
    align-items: flex-start;
    transition: all 0.5s ease;
    width: auto;
    right: 0;
    top: 4rem;
    border-radius: 0.325rem;
    gap: 0;
    padding: 1rem 0rem;
    opacity: 0;
    box-shadow: 0px 0px 100px rgba(20, 18, 18, 0.25);
    display: none;
}

.sub-item {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.725rem;
    cursor: pointer;
    padding: 0.2rem 1.5rem;
}

.sub-item:hover {
    background-color: rgba(232, 232, 232, 0.4);
}

.sub-item:hover .material-icons-outlined {
    color: #ff9800;
    transform: scale(1.08) translateY(-2px);
    cursor: pointer;
}

.sub-item:hover p {
    color: #000;
    cursor: pointer;
}

.sub-item p {
    font-size: 0.85rem;
    color: #888888;
    font-weight: 500;
    margin: 0.4rem 0;
    flex: 1;
}

.app__navbar ul li:hover>ul,
.app__navbar ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: flex;
}

.app__navbar-smallscreen {
    display: none;
}

.app__navbar-smallscreen_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #1E306E;
    transition: .5s ease;

    flex-direction: column;
    z-index: 6;
}

.app__navbar-smallscreen_overlay .overlay__close {
    font-size: 27px;
    color: white;
    cursor: pointer;

    position: absolute;
    top: 20px;
    right: 20px;
}

.app__navbar-smallscreen_links {
    list-style: none;
}

.app__navbar-smallscreen_links li {
    margin: 2rem;
    cursor: pointer;
    color: var(--color-white);
    font-size: 2rem;
    text-align: center;
    font-family: var(--font-base);
}

.app__navbar-smallscreen_links li:hover {
    color: var(--color-white);
}

@media screen and (min-width: 2000px) {
    .app__navbar-logo img {
        width: 210px;
    }
}

@media screen and (max-width: 1150px) {
    .app__navbar-links {
        display: none;
    }

    .app__navbar-smallscreen {
        display: flex;
    }

    .app__navbar-login {
        display: none;
    }
}

@media screen and (max-width: 650px) {
    .app__navbar {
        padding: 1rem;
    }

    .app__navbar-login {
        display: none;
    }

    .app__navbar-logo img {
        width: 110px;
    }
}