.login-section{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #0e51f8;
    height: 100vh;
}
@media screen and (max-width: 650px) {
    .login-section{
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: #F8FAFF;
    
    }
    .flatation{
        display: none;
    }
    .flatation .heading-section{
        padding-top: 1rem;
    }
    .log-container{
        height: auto;
        margin:0 auto;
    }
    .log-container .log-body{
        padding: 30px;
    }
    .log-container .log-body .social-log{
       display: flex;
       flex-direction: column;
       row-gap: 1rem;
       width: 100%;
    }
    .log-container .log-body .social-log button{
        width: 100%;
        padding: 5px;
    }
    .log-container .log-body, .log-container{      
        padding-top: 1rem;
    }
    .input-filds input{
        border: 1px solid powderblue;
        /* background-color: rgb(252, 241, 241); */
        border-radius: 3px;
        height: 35px;
        min-width: 100%;
        padding-left: 10px;
    }
  }
  @media screen and (max-width: 960px){
    .social-log{
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }
    .google{
        width: 100%;
    }
    .facebook, .twitter{
        width: 100%;
    }
  }
.flatation{
    /* background-color: #fff; */
    width: 100%;    
    background-image: url('../images/bg2.jpg');
    background-size: cover;
    height: 100vh;
    min-height: 100%;
    margin: auto;
}
.flat-img{
    background-image: url('../images/bg2.jpg');
    background-size: cover;
    height: 100vh;
    min-height: 100%
}
.log-container{
    position: relative;
    width: 100%;
    background-color: #fff;
    height: 100%;
    margin: 0px auto;
    justify-content:center;
}
.log-container .log-body{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    width: 100%;
}
.auth-switch span{
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    color:#9fa7b5;
    font-size: 16px;
    font-weight: 400;
}
.auth-switch a {
    border: none;
    background-color: transparent;
    font-weight: bold;
    color: #1E306E;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.auth-heading{
    font-size: 1.25rem;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
.social-log .google div{
    display: flex;
    align-items: center;
    padding: 5px 0;
    justify-content: center;
}
.google div span{
    padding: 0 20px;
}
.google{
    border: none;
    background: #1E306E;
    color: #fff;
}
.social-log button{ 
    border: none;
    margin-right: 10px;
    padding: 0px 15px;
    border-radius: 5px;
}
.social-log{
    display: flex;
}
.input-filds{
    padding: 10px 0;
}
.input-filds input{
    border: 1px solid powderblue;
    /* background-color: rgb(252, 241, 241); */
    border-radius: 3px;
    height: 35px;
    width: 100%;
    padding-left: 10px;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
  }
.input-filds .single-fild{
    margin-right: 10px;
}
.single-fild input{
    margin-right: 10px;
    border:1px solid powderblue;
    /* background-color: rgb(252, 241, 241); */
    border-radius: 3px;
    height: 35px;
    width: 100%;
}
.input-filds label{
    font-weight: 500;
    font-size: 15px;
}
.input-check{
    display: flex;
    font-size: 14px;
    padding: 10px 0;
    align-items: center;
}
.input-check input{
    margin-right: 10px;
}
.single-fild button{
    border: none;
    padding: 10px 15px;
    border-radius: 50px;
    background: #1E306E !important;
    color: #fff;
}
.showError {
    border-color: #a94442 !important;
    color: #1E306E !important;
    margin-bottom: 2px;
  }
.err-msg{
    color:#1E306E;
    font-size: 12px;
    padding-bottom: 10px;
}
.user-type .house-seeker , .house-holder {    
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
    background-color:#fff;
    margin-bottom: 20px;
    height: 120px;
    width: 300px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}
.user-type .house-seeker:hover , .house-holder:hover{
    box-shadow: 0px 2px 5px 0px rgba(214, 9, 9, 0.5);
    background-color: #fff;
}
.user-tos{
    color:rgb(37, 37, 39);
    font-size: 12px;
}
.user-tos a{
    color:gray;
    text-decoration: underline;
}
.userType-flatation{
    position: absolute;
    top: 50%; 
    left: 50%; 
    width: 80%;
    display: flex;
    padding: 100px;
    justify-content: space-around;
    border-radius: 15px;
    align-items: center;
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 5px 0px rgba(95, 95, 128, 0.3);
    background-color: #fff;
    opacity: .9;
    /* background-image: url('../images/bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
   
  }
  .userType-section{
    display: flex;    
    width: 100%;
    justify-content: space-between;
    background-image: url('../images/bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-color: #F8FAFF;
  }
