:root{
    --ff-poppins: 'Poppins', sans-serif;
    --ff-roboto: 'Roboto', sans-serif;
}
body {
    margin: 0;
    font-family: var(--ff-poppins);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
  }
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem; }
strong {
        font-weight: bolder; }
.testimonial{
  margin: auto;
  padding: 50px 0 50px 0;
  width: 90%;
  display: flex;
  flex-direction: row;
  column-gap: 5rem;
  justify-content: space-between;
}
.about-us{
  justify-content: left;
    align-items: flex-start;
    text-align: start;
    width: 50%;
}
.about-us h2{
    font-weight: lighter;
    text-align: left;
    
}
.sliders{
  width: 50%;
  background-color:#F8FAFF;
}
.heading-section h2 {
  font-size: 30px;
  margin: 15px 0 15px 0;
  font-weight: 300; 
  text-align: left;
}
.testimonial .outlin-btn{
  border: 1px solid #f85959 ;
  color: #f85959;
}
.testimonial .outlin-btn:hover{
    background-color: #f85959;
    color: white;
}
.heading-section h2 strong {
  font-weight: 700; 
}
.heading-section p{
  color: gray;
  font-size: 15px;
}
@media (max-width: 767.98px) {
  .heading-section h2 {
    font-size: 28px; 
  } 
}
.carousel-item .card{
  margin: auto;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.03);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.03);
  border: none;
  justify-content: center;
}
.carousel-item .card .user-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
 }
.carousel-item .card .card-text{
  font-size: 15px;
  color: gray;
}
/*  */
